*,* ::before,* ::after{/*reseteo de estilos  convierto la imgen y el parrafo en un flex  */
    margin: 0;
}
header{
    margin-left: 11px;
}
h1{
    font-family: 'Playfair Display' serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        width: 323px;
        height: 29px;
        margin: 32px 41px 12px 0px;
}
#parrafo{
    display: flex;
    align-items: flex-start;
    gap: 12px;
}
#parrafo p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 12px;
    line-height: 14.63px;
    width: 320px;
    height: 88px;

}
#cake{
    width: 352px;
    height: 213.83px;
    padding-top: 11.83px;
}
#cake img{
 width: 100%;
 border-radius: 12px;
}
.details{
    display: flex;
    gap: 1rem;
    margin-bottom: 27.75px;
}
.icon{
    text-align: center;
    width: 13.54px;
    height: 12.57px;
    align-items: center;
}
#fork,#servings{
    color: #f2994a;
    
}
.description :nth-child(1){
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 8px;
    line-height: 10px;
    color: #bdbdbd;

}
.description :nth-child(2){
    font-family: 'Montserrat';
    font-weight: medium;
    font-size: 10px;
    line-height: 12px;
    color: #333;

}
.times{
    margin-right: 42.29px 20px 20 px 20px;
    display: flex;
    justify-content: flex-start;    
}
.check{
    margin: 10px;
    display: flex;
    gap: 8px;
    padding: 3px 3px;
}
#ingredients{
    color: #333;
}
#ingredients h2{
 font-family: 'Playfair', serif;
 font-weight: 700;
 font-size: 18px;
 line-height: 24px;
 margin-bottom: 13px;

}
#ingredients h2{
    margin: 10px;
}
#ingredients h3{
    margin: 20px 20px 20px 20px ;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.33px;
   /*  margin-bottom: 50px 50px 50px 50px; */
    
   }
   input{
    border: solid 1px #828282;
    width: 21px;
    height: 21px;

   }
   .check p{
    width: 321px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height:  25px;
   }
.check p span{
    font-weight: 700;
}
.instruction{
    display: flex;
}
.instruction div{
    align-items: center;
    text-align: center;
    margin: 10px 10px 10px 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: #f2994a;
    border-radius: 6px;
    color: white;
}
.instruction p{
    margin: 10px 10px 10px 10px;
    width: 300px;
}
.instruction div p{
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}
#instructions h2{
    margin: 10px;
}
.anchop{
    width: 300px;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 24px;
    line-height: 150%;
    align-items: left;
}
#created{
    display: flex;
    
}
#created p{
    font-family: 'Montserrat';
    color: #828282;
    text-align: center;
    align-items: center;
}
#created a{
    font-family: 'montserrat';
    color: #828282;
    text-align: center;

}
